<a href="https://colab.research.google.com/github/kaindoh/python/blob/master/Copy_of_Python_Programming_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# Python Programming: Lists

## 1.0 Creating a List

In [1]:
# Example 1
# Lists can be created by placing a sequence inside square brackets.
# They are ordered and changeable and can also contain duplicate items.
# We will start to create a list called fruits
#
fruits = ["bananas", "grapes", "mangoes"]
print(fruits)

['bananas', 'grapes', 'mangoes']

In [93]:
# Example 2
# We will also create a list called kenyan_football_players
#
kenyan_football_players = ["Victor Wanyama", "Michael Olunga", "McDonald Mariga"]
print(kenyan_football_players)

['Victor Wanyama', 'Michael Olunga', 'McDonald Mariga']

In [3]:
# Example 3
# And lastly, create a list called kenyan cities
#
kenyan_cities = ["Nairobi", "Mombasa", "Kisumu"]
print(kenyan_cities)

['Nairobi', 'Mombasa', 'Kisumu']

### <font color="green">1.1 Challenges</font>

In [100]:
# Challenge 1: 
# Let's create a list of 3 counties in Kenya and then print out the list below;
# 
counties =["kiambu","Narok","Nairobi"]
print(counties)

['kiambu', 'Narok', 'Nairobi']

In [63]:
# Challenge 2: 
# Create a list of 5 African presidents and print out the list below;
# 
african_presidents=["Patric Talon","Uhuru Muigai Kenyatta","Rorch Marc","Paul Biya","Abdel Fatal","Mswati lll"]
print(african_presidents)

['Patric Talon', 'Uhuru Muigai Kenyatta', 'Rorch Marc', 'Paul Biya', 'Abdel Fatal', 'Mswati lll']

In [33]:
# Challenge 3: 
# Create a list of 5 members of your moringa class and print out the list;
#
moringa_students=["Elizabeth","Evelyne","Antonny","Mellissa","Brian"]
print(moringa_students)

['Elizabeth', 'Evelyne', 'Antonny', 'Mellissa', 'Brian']

## 1.2 Adding Elements to a List

In [7]:
# Example 1
# We use the append() item to add an element to a list as shown below:
# Adding the city Nakuru to the kenyan_cities list 
#
kenyan_cities.append("Nakuru")
print(kenyan_cities)

['Nairobi', 'Mombasa', 'Kisumu', 'Nakuru']

In [9]:
# Example 2
# We add the county Turkana to our counties list 
# and print out the list as shown below;
#
counties.append("Turkana")
print(counties)

['kiambu', 'Narok', 'Nairobi', 'Turkana', 'Turkana']

In [83]:
# Example 3
# Let's add the footballer Francis Kahata to the 
# kenyan_football_players list defined above and print out the list
#
kenyan_football_players.append("Francis Kahata")
print(kenyan_football_players)

['Musa Mohammed', 'McDonald Mariga', 'Francis Kahata']

### <font color="green">1.2 Challenges</font>

In [17]:
# Challenge 1: Add a third county to the county list 
# that you defined above and then print out the list.
# 

counties.insert(2,"Homabay")
print(counties)

['kiambu', 'Narok', 'Homabay', 'Homabay', 'Nairobi', 'Homabay', 'Turkana', 'Turkana', 'Homabay']

In [64]:
# Challenge 2: 
# Add a fifth and a sixth president to the african presidents 
# you defined above and print out the list.
#
add_african_presidents =['museveni','magufuli']
african_presidents[4:5] = add_african_presidents
print(african_presidents)

['Patric Talon', 'Uhuru Muigai Kenyatta', 'Rorch Marc', 'Paul Biya', 'museveni', 'magufuli', 'Mswati lll']

In [34]:
# Challenge 3: 
# Add two more members to the moringa class list that 
# you defined above and print out the list.
#
add_moringa_students=["leon","josphine"]
moringa_students[5:6]=add_moringa_students
print(moringa_students)

['Elizabeth', 'Evelyne', 'Antonny', 'Mellissa', 'Brian', 'leon', 'josphine']

## 1.3 Updating Elements in a List

In [35]:
# Example 1
# The value of a specific item in a list can be changed by referring to the index number as shown;
# Let's update the first element in the kenyan_cities list then print it out
# 
kenyan_cities[1] = "Kwale"
print(kenyan_cities)

['Nairobi', 'Kwale', 'Kisumu', 'Nakuru']

In [37]:
# Example 2
# Let's update the second element in the kenyan_football_players 
# list with Musa Mohammed then print out the list
#
kenyan_football_players[1]="Musa Mohammed"
print(kenyan_football_players)

['Victor Wanyama', 'Musa Mohammed', 'McDonald Mariga']

In [38]:
# Example 3
# Let's update the third element in the moringa 
# class list with your name then print out the list
# 
moringa_students[2]="eve"
print(moringa_students)

['Elizabeth', 'Evelyne', 'eve', 'Mellissa', 'Brian', 'leon', 'josphine']

### <font color="green">1.3 Challenges</font>

In [39]:
# Challenge 1
# Update the second county to the county list that 
# you defined above and then print out the list.
# (NB: Update of choice)
#
counties[1]="Nakuru"
print(counties)

['kiambu', 'Nakuru', 'Homabay', 'Homabay', 'Nairobi', 'Homabay', 'Turkana', 'Turkana', 'Homabay']

In [62]:
# Challenge 2
# Update the third and fourth president of the african presidents 
# list that you defined above and then print out the list.
# (NB: Update of choice) 
#
presidents=["addo","mandela"]
african_presidents[2:3]=presidents
print(african_presidents)

['Mswati lll', 'addo', 'mandela']

In [42]:
# Challenge 3
# Update all items in your class list 
# that you defined above with a new list and then print out that list. 
# 
moringa_students.clear()
print(moringa_students)
moringa_students=["eva","eve","evelyne"]
print(moringa_students)

[]
['eva', 'eve', 'evelyne']

## 1.4 Accessing Elements from a List

In [43]:
# Example 1
# We can access the first item in the fruits list by doing the following
# 
fruts_first_item = fruits[0]
print(fruts_first_item)

bananas

In [44]:
# Example 2
# We can also access the 2nd item in the kenyan_football_players list by;
#
kenyan_football_players_second_item = kenyan_football_players[1]
print(kenyan_football_players_second_item)

Musa Mohammed

In [45]:
# Example 3
# We can access the third item in the moringa_class list also by
#
moringa_students_third = moringa_students[2]
print(moringa_students_third)

evelyne

### <font color="green">1.4 Challenges</font>

In [46]:
# Challenge 1
# Let's access the second item in the fruits list below
#
second_fruit=fruits[1]
print(second_fruit)

grapes

In [50]:
# Challenge 2
# Let's access the fourth item in kenyan_football_players list below
#
fourth_kenyan_football_players=kenyan_football_players[2]
print(kenyan_football_players)
print(fourth_kenyan_football_players)

['Victor Wanyama', 'Musa Mohammed', 'McDonald Mariga']
McDonald Mariga

In [51]:
# Challenge 3
# Let's access the first item in your class list below;
#
first_moringa_students=moringa_students[0]
print(first_moringa_students)

eva

## 1.5 Removing Elements from a List

In [52]:
# Example 1
# Let's remove the first item from the fruits list as shown;
#
fruits.remove("bananas")
print(fruits)

['grapes', 'mangoes']

In [54]:
# Example 2
# Then remove the third item from the kenyan cities list as shown;
#
print(kenyan_cities)
del kenyan_cities[2];
print(kenyan_cities)

['Nairobi', 'Kwale', 'Kisumu', 'Nakuru']
['Nairobi', 'Kwale', 'Nakuru']

In [55]:
# Example 3
# Let's remove the fourth item from counties list as shown;
#
print(counties)
del counties[3]
print(counties)

['kiambu', 'Nakuru', 'Homabay', 'Homabay', 'Nairobi', 'Homabay', 'Turkana', 'Turkana', 'Homabay']
['kiambu', 'Nakuru', 'Homabay', 'Nairobi', 'Homabay', 'Turkana', 'Turkana', 'Homabay']

### <font color="green">1.5 Challenges</font>

In [57]:
# Challenge 1 
# Remove the first item from the kenya_football_players list 
# and print the list
#
print(kenyan_football_players)
del kenyan_football_players[0]
print(kenyan_football_players)

['Victor Wanyama', 'Musa Mohammed', 'McDonald Mariga']
['Musa Mohammed', 'McDonald Mariga']

In [58]:
# Challenge 2
# Remove the second item from the fruits list and print the list
#
print(fruits)
del fruits[1]
print(fruits)

['grapes', 'mangoes']
['grapes']

In [65]:
# Challenge 3 
# Remove the last item from the african presidents list and print the list
#
print(african_presidents)
del african_presidents[-1]
print(african_presidents)

['Patric Talon', 'Uhuru Muigai Kenyatta', 'Rorch Marc', 'Paul Biya', 'museveni', 'magufuli', 'Mswati lll']
['Patric Talon', 'Uhuru Muigai Kenyatta', 'Rorch Marc', 'Paul Biya', 'museveni', 'magufuli']

## 1.6 Slicing a List

In [76]:
# Example 1
# We can print the first two item of the fruits list by slicing and printing them as shown;
#
fruits.append("banana")
fruits.append("pineapple")
print(fruits)
fruits = fruits[0:2] 
print(fruits)

['banana', 'pineapple']
['banana', 'pineapple']

In [79]:
# Example 2
# We can print the items from the 2nd item till the end by slicing and printing them as shown;
# 
add_fruits = ["pears","grapes","melon"]
fruits[-1:3]=add_fruits
print(fruits)
fruits = fruits[2:]
print(fruits)

['banana', 'pears', 'grapes', 'pears', 'grapes', 'melon', 'melon']
['grapes', 'pears', 'grapes', 'melon', 'melon']

In [81]:
# Example 3
# We can print items from beginning of the list to the third element in the fruits list as shown;
#
print(fruits)
fruits = fruits[:-3]
print(fruits)

['grapes', 'pears', 'grapes', 'melon', 'melon']
['grapes', 'pears']

### <font color="green">1.6 Challenges</font>

In [95]:
# Challenge 1 
# Print the first two items of the kenyan_football_players list
# 
print(kenyan_football_players)
kenyan_football_players=kenyan_football_players[0:2]
print(kenyan_football_players)

['Victor Wanyama', 'Michael Olunga', 'McDonald Mariga']
['Victor Wanyama', 'Michael Olunga']

In [108]:
# Challenge 2 
# Print the last two items of the counties list
# 
counties =["kiambu","Narok","Nairobi"]
print(counties)
counties=counties[-2:]
print(counties)

['kiambu', 'Narok', 'Nairobi']
['Narok', 'Nairobi']

In [110]:
# Challenge 3 
# Print items fron the beginning to the second items in the kenyan_cities list
# 
print(kenyan_cities)
kenyan_cities=kenyan_cities[0:2]
print(kenyan_cities)

['Nairobi', 'Kwale', 'Nakuru']
['Nairobi', 'Kwale']