<a href="https://colab.research.google.com/github/kaindoh/python/blob/master/Python_programming_variables%2Cprinting_%2Ccomments%2Coperators_and_inputs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# print

In [0]:
print(" eve")
print(" i am moringa data science student")
print(44+22)

 eve
 i am moringa data science student
66

# comments

In [0]:
/* i stay in kiambu
i stay in kiambu
i stay in kiambu
*/
#this is a multi line comment

In [0]:
a="Hello Brenda"#create variable holding a string

print (a)#display the variable

In [0]:
#create a list holding months in a year
months = ['January','February','March','April','May','June','July','August','September','October','November','December']

#function to print months in a year
def showCalender(months):          
  
  #loop through the month lists
  for month in months:
    print (month)  #display each month
    
showCalender(months) #call function

January
February
March
April
May
June
July
August
September
October
November
December

# variables

In [0]:
author="Harry potter and Deathly Hollows"
print(author)

quote_7="Einsten"
print(quote_7)

secondNumber =400
print(secondNumber)

Harry potter and Deathly Hollows
Einsten
400

# operators

In [0]:
import statistics
a=50
b=100
c=500
persons=[a,b,c]
print(statistics.mean(persons))

216.66666666666666

In [0]:
a= 50
b=100
c=500

average = (a + b + c)/3

print(average)

216.66666666666666

In [0]:
jeans=4500
Tshirts=2500
price=(3*jeans) + (6*Tshirts)
print (price)

28500

In [0]:
savings=1000
growth_multiplier=1.1
results1=savings * (growth_multiplier ** 7)
print(results1)
results2=savings * (growth_multiplier ** 15)
print(results2)

1948.7171000000012
4177.248169415656

#input

In [0]:
height=float(input("enter your height in metres: "))
height_feet=height*3.28084
height_inches=(height*39.3701)
print("Your height in feets is %f"  %height_feet)
print("Your height in inches is %f" % height_inches)

enter your height in metres: 1.8
Your height in feets is 5.905512
Your height in inches is 70.866180

In [2]:
import math
radius=float(input("enter your radius: "))
height=float(input("enter your height: "))
vol= math.pi * height * (radius ** 2) 
print(vol)

enter your radius: 3
enter your height: 5
141.3716694115407

In [7]:
parking_fee = 50
money_given= int(input("enter the money inserted in machine "))

if  (money_given > 200):
  change= money_given - parking_fee
else:
  print("The money must be 200 above")
print ("Denomination of 100 are ", change //100)  
print ("Denomination of 50 are ", (change % 100)/50 )

enter the money inserted in machine 400
Denomination of 100 are  3
Denomination of 50 are  1.0